
@import 'abstracts/variables'; 

@import 'base/base'; 
@import 'base/typography.scss';

@import 'components/button';
@import 'components/card';
@import 'components/footer';
@import 'components/header';


.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

