.heading-1 {
    font-family: $IBM; 
    text-align: left;
    font-size: 2.4rem; 
    line-height: 3.2rem;
    text-transform: capitalize;
    color: #FFFFFF; 
    display: inline-block;
    margin-top: 8rem;
    margin-left: 2rem; 
}
.heading-2 {
    font-family: $IBM; 
    font-size: 1.8rem; 
    line-height: 2.4rem;
    text-transform: uppercase;
    color: #FFFFFF; 
    padding: 1rem;
    margin-left: 1rem;

    &--blue {
        color: #66D8E1;
        margin-left: 2rem;
    }
}
