*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  background-color: #242424; }

.cards {
  display: flex; }

.card {
  width: 20rem;
  height: 25rem; }
  .card__img {
    height: 50%;
    width: 100%; }
